
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/chetan.jpg" alt="chetan" style="width:100%">
      <div class="container">
        <h2>Chetan Surana</h2>
        <p class="title">Core Team Member &amp; Founder</p>
        <p>A lively, versatile creative who blends technical knowledge with an innate problem solving ability.</p>
        <p>CSE,8th SEM</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/team-images/Shubham.jpg" alt="Shubham" style="width: 100%;">
      <div class="container">
        <h2>Shubham Agnihotri</h2>
        <p class="title">Core Team Member</p>
        <p>With a great beard comes great responsibility.</p>
        <p>CSE,8th SEM</p>
       
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/team-images/Rishabh.jpg" alt="Rishabh" style="width: 100%;">
      <div class="container">
        <h2>Rishabh Mittal</h2>
        <p class="title">Core Team member</p>
        <p>Not a nerd. Just smarter than you.</p>
        <p>CSE,6th SEM</p>
       
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/Chirag.jpg" alt="Chirag" style="width:100%">
      <div class="container">
        <h2>Chirag Mittal</h2>
        <p class="title">Core Team Member</p>
        <p>A coding freak, decoding life...</p>
        <p>CSE, 6th SEM</p>
        
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/Satyajit.jpg" alt="Satyajit" style="width:100%">
      <div class="container">
        <h2>Satyajit Ghana</h2>
        <p class="title">Developer</p>
        <p>Hardcore coder. Can code in more languages than he can speak!</p>
        <p>CSE, 4th SEM</p>
        
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/Shyamant.JPG" alt="Shyamant" style="width:100%">
      <div class="container">
        <h2>Shyamant Achar</h2>
        <p class="title">Developer</p>
        <p>Only finds elegant and to the point solutions.</p>
        <p>CSE, 4th SEM</p>
       
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/shikhar.JPG" alt="shikhar" style="width:100%">
      <div class="container">
        <h2>Shikhar Singh</h2>
        <p class="title">Developer</p>
        <p>Loves to play with Websites.</p>
        <p>CSE, 4th SEM</p>
       
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/aryan.jpg" alt="aryan" style="width:100%">
      <div class="container">
        <h2>Aryan Jalali</h2>
        <p class="title">Designer</p>
        <p>So creative,can come up with N ideas in N seconds.</p>
        <p>CSE, 4th SEM</p>
        
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/alok.jpg" alt="alok" style="width:100%">
      <div class="container">
        <h2>Alok Singh</h2>
        <p class="title">Developer</p>
        <p>Can explain concepts better than books.</p>
        <p>CSE, 4th SEM</p>
   
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/vishal.jpg" alt="vishal" style="width:100%">
      <div class="container">
        <h2>Vishalkrishna Bhosle</h2>
        <p class="title">Designer and Editor</p>
        <p>Can bring goosebumps with his editing skills.</p>
        <p>CSE, 4th SEM</p>
        
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/team-images/Vivek.jpg" alt="Vivek" style="width:100%">
      <div class="container">
        <h2>Vivek Badani</h2>
        <p class="title">Content Moderator</p>
        <p>Brings jugad to tech!</p>
        <p>CSE, 4th SEM</p>
       
      </div>
    </div>
  </div>
</div>
