<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark ie-nav scrolling-navbar" [containerInside]="true">

  <!-- Side Brand Logo -->
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <img src="./assets/logos/cynergy-logo.png" height="30" alt="Cynergy | Coding Club Logo">
      </a>
  </mdb-navbar-brand>

  <links>

    <!-- Navigation Links -->
      <ul class="navbar-nav mr-auto">
          <a class="nav-item nav-link waves-light" href="" [routerLink]="['/']" routerLinkActive="active" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link waves-light disabled" href="" [routerLink]="['/about']" mdbWavesEffect>About</a>
          <a class="nav-item nav-link waves-light disabled" href="" [routerLink]="['/events']" mdbWavesEffect>Events</a>
          <a class="nav-item nav-link waves-light" href="" [routerLink]="['/hall-of-fame']" mdbWavesEffect>Hall of Fame</a>
          <a class="nav-item nav-link waves-light" href="" [routerLink]="['/team']" routerLinkActive="active">Team</a>
      </ul>
      
    <!-- Social Media Icons -->
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="https://facebook.com/cynergy.ruas" ><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="https://twitter.com/cynergy_ruas" ><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="https://instagram.com/cynergy_ruas" ><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect >
              <a class="nav-link" href="https://github.com/cynergy-ruas" ><i class="fab fa-github"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>