<body>
  <particles id="particles" [width]="width" [height]="height" [params]="myParams"></particles>
  <div> 
    <div class="main">
      <h1>
        Cynergy - Collaborate, Innovate, Compete. 
        <hr>
      </h1>
    </div>

    <div>
        <h2>
            "Talk is cheap. show me the code." <br> - Linus Torvalds
        </h2>
    </div>
    <div>
      <p class="para">
        This is a platform that promotes learning and development of skills vital for programming and beyond. 
        A society, where programmers can sense the spirit of camaraderie among their peers. 
      </p>
      <p class="para">
        Cynergy aims to develop a healthy coding culture at RUAS. To achieve this, we plan to bring about an environment 
        where students compete with their peers to earn the title of being the best, using competitive programming as the platfrom. 
        Skills that are forged in this atmosphere are valuable and essential for a programmer.
      </p>
      <p class="para">
        Competing with others is not the only way to become a programmer. Problem solving skills and the ability to work in teams is vital as 
        well. Realizing this, we aim to be a platform where students can get involved in social coding session, where they can contribute or 
        group together to start a project, with the support of Cynergy. We also encourage students to participate in hackathons and 
        competitions, furthering their experience.
      </p>
      <p class="para">
        Competing with others is not the only way to become a programmer. Problem solving skills and the ability to work in teams is vital 
        as well. Realizing this, we aim to be a platform where students can get involved in social coding session, where they can contribute 
        or group together to start a project, with the support of Cynergy. We also encourage students to participate in hackathons and 
        competitions, furthering their experience.  
      </p>
      <p class="para">
        Programmers need to keep up with the times, otherwise being left out is a high possibility. We aim to hold workshops and guest 
        lectures on cutting edge technologies being used in the present, thereby keeping the students up to date in the tech industry.
      </p>
      <p class="para">
        So grab your laptops and put your thinking caps on! It's going to be one hell of a ride!
    </p>
    </div>
  </div>
  <div class="desktop-bottom">
    <img src="./assets/cynergy-logo.png" alt="cynergy-logo" class="bottom-logo" align="right">
  </div>
</body>
