<!--The content below is only a placeholder and can be replaced.-->

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66256732-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-66256732-3');

  </script>

</head>

<body>

  <particles id="particles" [width]="width" [height]="height" [params]="myParams"></particles>

</body>
